:root {
  --main-blue: #3934b4;
  --detail-blue: #00BCD4;
  --main-purple: #7202BB;
  --secondary-blue: #3264F5;
  --ligth-grey: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--main-blue);
}

/* header */

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  border-bottom: white 1px solid;
  background-color: var(--main-blue);
}

.header-title--container {
  color: white;
  font-weight: bold;
}

.header-title--container span{
  font-size: 2.5rem;
  margin-right: 5px;
}

.header-title--container a {
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.header-title--container a:hover {
  color: var(--detail-blue);
}

/* nav */

.nav-switch {
  width: 40px;
  height: 40px;
  padding: 3px;
  color: var(--detail-blue);
  border: var(--detail-blue);
  background-color: white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.nav-switch:hover nav, nav:hover {
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-switch img {
  width: 100%;
}

.nav {
  display: none;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--main-blue);
}

.show {
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-button--container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
}

.nav-button--container .button {
  display: block;
  width: 90px;
  height: 40px;
  margin: 0 10px;
  padding: 10px;
  font-size: 1.3rem;
  border: 2px solid var(--detail-blue);
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  outline: none;
}

.nav-button--container .login:hover {
  background-color: var(--detail-blue);
}

.nav-button--container .register {
  background-color: var(--detail-blue);
}

.nav-link--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.nav-link--container .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 130px;
  padding: 5px;
  list-style: none;
  background-color: rgba(0,0,0,0);
  border: var(--detail-blue) solid 2px;
}

.nav-link--container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30px;
  background-color: rgba(0,0,0,0);
}

.nav-link--container a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.nav-link--container a:hover {
  color: var(--detail-blue);
}

/* main */

.main {
  width: 100%;
}

/* search */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 100px 0 200px 0;
  background-image: url(../img/banner-bg.jpg);
  background-position: center;
  background-size: cover;
}

.search-main {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.search-main h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 3.3rem;
  color: white;
}

.search-main .search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-main .searchBar {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.4rem;
  color: white;
  border: white 1px solid;
  background-color: rgba(0,0,0,0);
  outline: none;
}

.search-main .searchBar:focus::-webkit-input-placeholder {
  color: transparent; 
}

::placeholder {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
}

.search-main .button {
  width: 130px;
  height: 50px;
  margin: 10px 0;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1.5rem;
  border: 2px solid var(--detail-blue);
  background-color: var(--detail-blue);
  text-align: center;
  color: white;
  font-weight: bold;
  outline: none;
}

.domain-type--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.domain-type--container label {
  display: flex;
  align-items: center;
}

.domain-type--container .domain-check {
  display: inline-block;
  width: 20px;
  height: 30px;
  margin-right: 10px;
}

.domain-type--container p {
  display: inline-block;
  color: white;
  font-size: 1.6rem;
}

/* customer */

.trust {
  width: 100%;
  height: auto;
  padding: 60px 20px;
  background-color: var(--ligth-grey);
}

.trust-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--ligth-grey);
}

.trust-container h2 {
  font-size: 1.8rem;
  margin-bottom: 50px;
}

/* services */

.services {
  width: 100%;
  padding: 100px 0;
  background-color: white;
}

.services .services-info {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.services-info .services-info--color {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--detail-blue);
}

.services-info h2 {
  margin-bottom: 15px;
  text-align: left;
  font-size: 3.5rem;
  line-height: 35px;
}

.services-info p {
  font-size: 1.4rem;
  color: grey;
}

.features {
  width: 100%;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-container .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  padding: 40px 50px;
  border-radius: 10px;
  background-color: var(--ligth-grey);
}

.database-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--detail-blue);
}

.database-container img {
  width: 40px;
}

.feature .feature-title {
  margin: 30px 0;
  font-size: 2rem;
}

.feature p {
  text-align: center;
  font-size: 1.4rem;
  color: grey;
}